# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.serviceAccountKey.json
# Expo
.expo/
.expo-shared/
dist/
web-build/

# React Native / Expo builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/
*.log
backend/serviceAccountKey.json

